<app-user-profile></app-user-profile>

<ul>
  <li [ngStyle]="{ backgroundColor: isThisIngredientVital ? 'red' : 'yellow' }">
    Pommes de terre
  </li>
  <li>Raclette</li>
  <li>Jambon</li>
  <li [ngClass]="{ vital: isThisIngredientVital }">Cornichons</li>
  <li>Chou-fleur</li>
</ul>
<hr />
<ul *appDisplayGuests="displayGuestList">
  <li>Brenda</li>
  <li>Dylan</li>
  <li>Jean Mi</li>
  <li>Kylie</li>
</ul>
<ul *ngFor="let song of songList">
  <li>{{ song }}</li>
</ul>
<hr />
<h1 appHighlight>Raclette</h1>

<ul *appDisplayFilm="showMovies">
  <li appHighlightFirst *ngFor="let film of films">{{ film }}</li>
</ul>
<router-outlet></router-outlet>
